# Streamlit + Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
.envrc
*.sqlite3

# Streamlit Secrets (keep private)
.streamlit/secrets.toml

# Local data
cartolas/
procesados.txt

# VS Code + Devcontainer
.vscode/
.devcontainer/
