# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/
.venv/

# --- Streamlit ---
.streamlit/

# --- macOS ---
.DS_Store

# --- VSCode / IDEs ---
.vscode/
.idea/

# --- Local data ---
cartolas_bci.db
procesados.txt
*.csv
*.log

# --- PDFs or user data ---
cartolas/
*.pdf
